<div class="container">
  <!-- Formulário -->
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-container">
    <h2>Dados Pessoais</h2>
    <div formGroupName="dadosPessoais">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome">
      <div *ngIf="formulario.get('dadosPessoais.nome')?.invalid && formulario.get('dadosPessoais.nome')?.touched">
        <small>Nome é obrigatório.</small>
      </div>

      <label for="idade">Idade:</label>
      <input type="number" formControlName="idade">
      <div *ngIf="formulario.get('dadosPessoais.idade')?.invalid && formulario.get('dadosPessoais.idade')?.touched">
        <small>Idade inválida.</small>
      </div>

      <label for="telefone">Telefone:</label>
      <input type="tel" formControlName="telefone">
      <div *ngIf="formulario.get('dadosPessoais.telefone')?.invalid && formulario.get('dadosPessoais.telefone')?.touched">
        <small>Telefone é obrigatório.</small>
      </div>

      <label for="email">E-mail:</label>
      <input type="email" formControlName="email">
      <div *ngIf="formulario.get('dadosPessoais.email')?.invalid && formulario.get('dadosPessoais.email')?.touched">
        <small>E-mail inválido.</small>
      </div>
    </div>

    <h2>Endereço</h2>
    <div formGroupName="endereco">
      <label for="endereco">Endereco:</label>
      <input type="text" formControlName="endereco">
      <div *ngIf="formulario.get('endereco.endereco')?.invalid && formulario.get('endereco.endereco')?.touched">
        <small>Endereço é obrigatório.</small>
      </div>

      <label for="numero">Número:</label>
      <input type="number" formControlName="numero">
      <div *ngIf="formulario.get('endereco.numero')?.invalid && formulario.get('endereco.numero')?.touched">
        <small>Número é obrigatório.</small>
      </div>

      <label for="bairro">Bairro:</label>
      <input type="text" formControlName="bairro">
      <div *ngIf="formulario.get('endereco.bairro')?.invalid && formulario.get('endereco.bairro')?.touched">
        <small>Bairro é obrigatório.</small>
      </div>

      <label for="cidade">Cidade:</label>
      <input type="text" formControlName="cidade">
      <div *ngIf="formulario.get('endereco.cidade')?.invalid && formulario.get('endereco.cidade')?.touched">
        <small>Cidade é obrigatória.</small>
      </div>
    </div>

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>
  </form>

<app-criador-cartao></app-criador-cartao>
